<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///gov/nasa/jpl/mgss/mbee/docgen/dgview.ecore"
            class="gov.nasa.jpl.mgss.mbee.docgen.dgview.DgviewPackage"
            genModel="model/dgview.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///gov/nasa/jpl/mgss/mbee/docgen/dgvalidation.ecore"
            class="gov.nasa.jpl.mgss.mbee.docgen.dgvalidation.DgvalidationPackage"
            genModel="model/dgvalidation.genmodel"/>
   </extension>

</plugin>
